In [7]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [6]:
tabs = ['Engajamento','Seguidores']

In [5]:
pd.read_excel('Content_2024-03-06_2025-03-05_ThanaelButewicz.xlsx',sheet_name='Seguidores')

C:\Users\thanael.butewicz\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Total de seguidores em 05/03/2025:              9945
0                                  NaN               NaN
1                                 Data  Novos seguidores
2                           06/03/2024                 0
3                           07/03/2024                 0
4                           08/03/2024                 0
..                                 ...               ...
362                         01/03/2025                16
363                         02/03/2025                 7
364                         03/03/2025                56
365                         04/03/2025                 7
366                         05/03/2025                24

[367 rows x 2 columns]